/* Define default styles for all devices */

body {
    font-family: blacksword;
    width: 100%;
    height: 100%;
    background-color: #0b0e11;
    margin-top: 10%;
    margin-left: 5%;

}

header {
    background-color: #10131a;
    font-size: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
header div:first-child {
    padding: 10px;
}

.products ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.products li {
    flex-basis: 30%;
    margin-bottom: 1rem;
}

.products img {
    display: block;
    width: 50%;
    height: auto;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    padding: 0.5rem;
    border: 2px solid red;
    border-radius: 50px 20px;
    background-color: lightgrey;
}
.botaoCorte {
    height: 205px;
    width: 205px;
}

.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn36 {
    border-color: #ffffff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

.bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin: auto;
    padding: 5px 140px 64px 0;
    max-width: 396px;
    background-color: #171b24;
}

body {
    background-color: #0b0e11;
}

p {
    margin-top: 42px;
    margin-bottom: 1px;
    margin-left: 120px;
}

/* Apply styles for screens with a maximum width of 767px */

@media screen and (max-width: 767px) {
    /* Reduce the size of the header */
    header {
        height: 70px;
    }

    /* Center the menu items and reduce their size */
    .menu ul li {
        margin: 0 auto;
        height: 100px;
        width: 100px;
    }

    /* Adjust the size of the button */
    .botaoCorte {
        height: 100px;
        width: 100px;
    }

    /* Adjust the font size and padding of the button */
    .bn3637 {
        padding: 0.5rem 1.5rem;
        font-size: 16px;
    }

    /* Adjust the margin of the paragraph */
    p {
        margin-left: 0;
    }

    /* Adjust the padding of the container */
    .container {
        padding: 5px 20px 64px;
    }
}